Kelompok 2

Ketua Proyek : 1197050114 - Reyhan Afrizal

Anggota :

- Annisa Sugi Pramesty

- Irvan F

- Naufal Riqullah

Visualisasi Data

Tema : No Poverty

# **BAB 1  : Bussiness Understanding**

**A. Objektif Bisnis**
- Latar Belakang Masalah

  Angka kemiskinan merupakan indikator yang penting untuk menentukan kesejahteraan suatu negara. Saat ini terdapat agenda SDGs yang merupakan perwujudan pembangunan dunia yang bertujuan untuk kesejahteraan manusia dan planet bumi.SGDs mengarahkan setiap negera untuk mampu memenuhi indikator pencapaian yang salah satunya ialah No Poverty. Indikator ini membahas tentang ketercapaian pemberantasan kemiskinan yang ada. Salah satu cara untuk mencapai hal tersebut ialah dengan mengetahui angka kemiskinan dari suatu negara.

  Negara Indonesia merupakan negara yang terdiri dari beragam pulau, provinsi, dan kota. Untuk dapat melakukan pemberantasan kemiskinan, maka diperlukan analisis dari ruang lingkup yang lebih kecil. Maka pada riset ini dilakukan analisis data perkembangan angka indeks kemiskinan di tiap provinsi yang ada di Indonesia.


- Identifikasi Masalah

  Bagaimana prediksi indeks kemiskinan di tiap provinsi di Indonesia pada tahun berikutnya ?
  
  Apakah jumlah penduduk mempengaruhi persentase kemiskinan di Indonesia ?
  
  Dimana daerah yang perlu diperhatikan berdasarkan persentase kemiskinannya ?

- Metode/Pendekatan Peneyelesaian Masalah

  Metode yang digunakan untuk prediksi ini ialah algoritma regresi linear sederhana. Algoritma ini dipilih untuk menampilkan prediksi indeks angka kemiskinan berdasarkan data tahun tahun sebelumnya.

**B. Tujuan Teknis dan Kriteria Kesuksesan**

  - Adapun tujuan dari riset ini ialah : 

  Mampu memberikan nilai prediksi indeks kemiskinan di tiap provinsi di indonesia pada tahun berikutnya

  Mampu membuktikan apakah jumlah penduduk mempengaruhi persentase kemiskinan di indonesia atau tidak
  
  Mampu menentukan dimana daerah yang perlu diperhatikan berdasarkan persentase kemiskinannya

  - Kriteria Kesuksesan 

  Riset ini mampu menyajikan nilai prediksi dengan akurasi yang tinggi dan menyajikan nilai korelasi dari tiap indikator yang dibandingkan

**C. Timeline Mini Riset**
- 9 - 16 November 2022 - Fiksasi tema dan Bussiness Understanding
- 17 - 23 November 2022 - Data Understanding
- 24 - 30 November 2022 - Data Preparation
- 1 - 7 Desember 2022 - Modelling
- 8 - 14 Desember 2022 - Evaluasi Modelling
- 15 - 21 Desember 2022 - Penyelesaian Laporan

# **BAB 2  : Data Understanding**

**A. Kebutuhan Data**

- Variabel Terikat : Jumlah Penduduk Miskin Tiap Daerah, Garis Kemiskinan Makanan, Garis Kemiskinan Non Makanan, Persentase Penduduk Miskin, Gini Rasio

- Variabel Bebas  : Tahun

- Variabel Waktu  : Data 7 Tahun Terakhir (2015-2021)


**B. Pengambilan Data**

> Data kami ambil berdasarkan data yang dikeluarkan oleh BPS. BPS adalah kependekan dari Badan Pusat Statistik yang merupakan lembaga yang menyediakan informasi data statistik pada skala nasional dan regional di Indonesia.

**C. Integrasi Data**
> Sehubungan dengan data yang di sediakan oleh BPS merupakan data yang disimpan dalam 1 kategori maka kami melakukan integrasi dari masing masing kategori data yang kami perlukan.

**D. Telaah Data**
> Berdasarkan kategori data yang sudah di integrasikan sesuai dengan kebutuhan, maka data akan di cocokan kembali apakah data tersebut sudah sesuai ataukah masih terdapat duplikasi data.

**E. Analisis Karakteristik Data**
> Dalam penelitian ini peneliti akan berfokus pada nilai angka yang bersifat numerik. Maka data yang akan di analisis akan berformat numerik seperti integer atau float. 

**F. Validasi Data**
> Data yang telah sesuai dengan kebutuhan dapat divalidasi bila merupakan persentase maka nilai berada diantara 0-1 atau 0%-100%.

# BAB 3 : Data Preparation
# A. Pemilahan Data
> Di inputkan data yang sudah di unduh untuk dilakukan pemilahan sesuai dengan kebutuhan data. Data yang di inputkan disajikan dalam tabel untuk memudahkan melihat data yang sudah dikumpulkan. Selain itu dipastikan juga format dari masing masing kolom yang sudah dikumpulkan.

In [59]:
import pandas as pd

df=pd.read_csv('Data Final.csv', sep = ';')
df

,Wilayah,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
0,ACEH,2021,410420.0,130689,834.24,15.33,0.324
1,SUMATERA UTARA,2021,395104.0,130652,1343.86,9.01,0.314
2,SUMATERA BARAT,2021,431644.0,137059,370.67,6.63,0.306
3,RIAU,2021,413593.0,152344,500.81,7.12,0.326
4,JAMBI,2021,385360.0,120995,293.86,8.09,0.321
...,...,...,...,...,...,...,...
240,MALUKU,2015,306768.0,92864,328.41,19.51,0.340
241,MALUKU UTARA,2015,275361.0,68726,79.90,6.84,0.280
242,PAPUA BARAT,2015,346975.0,94594,225.36,25.82,0.440
243,PAPUA,2015,302807.0,99224,859.15,28.17,0.421
244,INDONESIA,2015,242241.0,88535,28592.79,11.22,0.408

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Wilayah                                             245 non-null    object
 1   Tahun                                               245 non-null    int64
 2   Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan)      245 non-null    float64
 3   Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan)  245 non-null    int64
 4   Jumlah Penduduk Miskin (Ribu Jiwa)                  245 non-null    float64
 5   Persentase Masyarakat Miskin                        245 non-null    float64
 6   Gini Rasio                                          245 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 13.5+ KB

In [61]:
df['Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan)']=df['Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan)'].astype('int64')

In [62]:
df

,Wilayah,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
0,ACEH,2021,410420,130689,834.24,15.33,0.324
1,SUMATERA UTARA,2021,395104,130652,1343.86,9.01,0.314
2,SUMATERA BARAT,2021,431644,137059,370.67,6.63,0.306
3,RIAU,2021,413593,152344,500.81,7.12,0.326
4,JAMBI,2021,385360,120995,293.86,8.09,0.321
...,...,...,...,...,...,...,...
240,MALUKU,2015,306768,92864,328.41,19.51,0.340
241,MALUKU UTARA,2015,275361,68726,79.90,6.84,0.280
242,PAPUA BARAT,2015,346975,94594,225.36,25.82,0.440
243,PAPUA,2015,302807,99224,859.15,28.17,0.421
244,INDONESIA,2015,242241,88535,28592.79,11.22,0.408

In [63]:
df.dtypes

Wilayah                                                object
Tahun                                                   int64
Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan)          int64
Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan)      int64
Jumlah Penduduk Miskin (Ribu Jiwa)                    float64
Persentase Masyarakat Miskin                          float64
Gini Rasio                                            float64
dtype: object

# B. Pembersihan Data
> Berdasarkan data yang sudah di inputkan di lakukan pembersihan data dengan menghapus data yang bersifat null/kosong dan di cocokan dengan validasi data yang sudah di tentukan sebelumnya.

In [64]:
valid=df.dropna()
valid

,Wilayah,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
0,ACEH,2021,410420,130689,834.24,15.33,0.324
1,SUMATERA UTARA,2021,395104,130652,1343.86,9.01,0.314
2,SUMATERA BARAT,2021,431644,137059,370.67,6.63,0.306
3,RIAU,2021,413593,152344,500.81,7.12,0.326
4,JAMBI,2021,385360,120995,293.86,8.09,0.321
...,...,...,...,...,...,...,...
240,MALUKU,2015,306768,92864,328.41,19.51,0.340
241,MALUKU UTARA,2015,275361,68726,79.90,6.84,0.280
242,PAPUA BARAT,2015,346975,94594,225.36,25.82,0.440
243,PAPUA,2015,302807,99224,859.15,28.17,0.421
244,INDONESIA,2015,242241,88535,28592.79,11.22,0.408

In [65]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Wilayah                                             245 non-null    object
 1   Tahun                                               245 non-null    int64
 2   Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan)      245 non-null    int64
 3   Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan)  245 non-null    int64
 4   Jumlah Penduduk Miskin (Ribu Jiwa)                  245 non-null    float64
 5   Persentase Masyarakat Miskin                        245 non-null    float64
 6   Gini Rasio                                          245 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 13.5+ KB

# C. Konstruksi Data
> Setelah dilakukan pembersihan data di rumuskan kembali tabel data yang sudah sesuai dengan kebutuhan data. Dimana kebutuhan data tersebut berisi variabel terikat, dan variabel bebas.

In [66]:
provinsi=valid[valid["Wilayah"]!="INDONESIA"]
provinsi

,Wilayah,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
0,ACEH,2021,410420,130689,834.24,15.33,0.324
1,SUMATERA UTARA,2021,395104,130652,1343.86,9.01,0.314
2,SUMATERA BARAT,2021,431644,137059,370.67,6.63,0.306
3,RIAU,2021,413593,152344,500.81,7.12,0.326
4,JAMBI,2021,385360,120995,293.86,8.09,0.321
...,...,...,...,...,...,...,...
239,SULAWESI BARAT,2015,208787,53095,160.48,12.40,0.363
240,MALUKU,2015,306768,92864,328.41,19.51,0.340
241,MALUKU UTARA,2015,275361,68726,79.90,6.84,0.280
242,PAPUA BARAT,2015,346975,94594,225.36,25.82,0.440
243,PAPUA,2015,302807,99224,859.15,28.17,0.421

In [67]:
indo=valid[valid["Wilayah"]=="INDONESIA"]
indo

,Wilayah,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
34,INDONESIA,2021,349474,123051,27542.77,10.14,0.38400
69,INDONESIA,2020,335793,118859,26424.02,9.78,0.38100
104,INDONESIA,2019,313232,112018,25144.72,9.41,0.38000
139,INDONESIA,2018,294806,106414,25949.80,9.82,0.38900
174,INDONESIA,2017,274544,99933,27771.22,10.64,0.39261
209,INDONESIA,2016,260469,93917,28005.39,10.86,0.39700
244,INDONESIA,2015,242241,88535,28592.79,11.22,0.40800

In [68]:
indo=indo.drop(columns=['Wilayah'])
indo

,Tahun,Garis Kemiskinan Makanan (Rupiah/Kapita/Bulan),Garis Kemiskinan Non Makanan (Rupiah/Kapita/Bulan),Jumlah Penduduk Miskin (Ribu Jiwa),Persentase Masyarakat Miskin,Gini Rasio
34,2021,349474,123051,27542.77,10.14,0.38400
69,2020,335793,118859,26424.02,9.78,0.38100
104,2019,313232,112018,25144.72,9.41,0.38000
139,2018,294806,106414,25949.80,9.82,0.38900
174,2017,274544,99933,27771.22,10.64,0.39261
209,2016,260469,93917,28005.39,10.86,0.39700
244,2015,242241,88535,28592.79,11.22,0.40800

# D. Pelabelan Data
> Setelah dilakukan konstruksi data, data di sesuaikan dengan kebutuhan dan label sebagai indikator variabel penelitian. Untuk mempermudah dalam pemanggilan data dan kemudahan dalam mengetahui data, maka label digunakan dengan kata yang lebih sederhana.

In [69]:
indo.columns=["Tahun", "GK Makanan", "GK Non Makanan", "Jumlah", "Persentase", "Gini Rasio"]
indo

     Tahun  GK Makanan  GK Non Makanan    Jumlah  Persentase  Gini Rasio
34    2021      349474          123051  27542.77       10.14     0.38400
69    2020      335793          118859  26424.02        9.78     0.38100
104   2019      313232          112018  25144.72        9.41     0.38000
139   2018      294806          106414  25949.80        9.82     0.38900
174   2017      274544           99933  27771.22       10.64     0.39261
209   2016      260469           93917  28005.39       10.86     0.39700
244   2015      242241           88535  28592.79       11.22     0.40800

In [70]:
indo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 34 to 244
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tahun           7 non-null      int64
 1   GK Makanan      7 non-null      int64
 2   GK Non Makanan  7 non-null      int64
 3   Jumlah          7 non-null      float64
 4   Persentase      7 non-null      float64
 5   Gini Rasio      7 non-null      float64
dtypes: float64(3), int64(3)
memory usage: 392.0 bytes

In [71]:
provinsi.columns=["Wilayah","Tahun", "GK Makanan", "GK Non Makanan", "Jumlah", "Persentase", "Gini Rasio"]
provinsi

,Wilayah,Tahun,GK Makanan,GK Non Makanan,Jumlah,Persentase,Gini Rasio
0,ACEH,2021,410420,130689,834.24,15.33,0.324
1,SUMATERA UTARA,2021,395104,130652,1343.86,9.01,0.314
2,SUMATERA BARAT,2021,431644,137059,370.67,6.63,0.306
3,RIAU,2021,413593,152344,500.81,7.12,0.326
4,JAMBI,2021,385360,120995,293.86,8.09,0.321
...,...,...,...,...,...,...,...
239,SULAWESI BARAT,2015,208787,53095,160.48,12.40,0.363
240,MALUKU,2015,306768,92864,328.41,19.51,0.340
241,MALUKU UTARA,2015,275361,68726,79.90,6.84,0.280
242,PAPUA BARAT,2015,346975,94594,225.36,25.82,0.440
243,PAPUA,2015,302807,99224,859.15,28.17,0.421

In [72]:
provinsi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238 entries, 0 to 243
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Wilayah         238 non-null    object
 1   Tahun           238 non-null    int64
 2   GK Makanan      238 non-null    int64
 3   GK Non Makanan  238 non-null    int64
 4   Jumlah          238 non-null    float64
 5   Persentase      238 non-null    float64
 6   Gini Rasio      238 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 14.9+ KB

# E. Integrasi Data
> Berdasarkan data yang sudah sesuai dibuat tabel untuk merumuskan perbandingan antara variabel bebas dan variabel terikat.

In [73]:
test1=indo[["Tahun","GK Makanan"]]
test1

     Tahun  GK Makanan
34    2021      349474
69    2020      335793
104   2019      313232
139   2018      294806
174   2017      274544
209   2016      260469
244   2015      242241

In [74]:
test2=indo[["Tahun","GK Non Makanan"]]
test2

     Tahun  GK Non Makanan
34    2021          123051
69    2020          118859
104   2019          112018
139   2018          106414
174   2017           99933
209   2016           93917
244   2015           88535

In [75]:
test3=indo[["Tahun","Jumlah"]]
test3

     Tahun    Jumlah
34    2021  27542.77
69    2020  26424.02
104   2019  25144.72
139   2018  25949.80
174   2017  27771.22
209   2016  28005.39
244   2015  28592.79

In [76]:
test4=indo[["Tahun","Persentase"]]
test4

     Tahun  Persentase
34    2021       10.14
69    2020        9.78
104   2019        9.41
139   2018        9.82
174   2017       10.64
209   2016       10.86
244   2015       11.22

In [77]:
test5=indo[["Tahun","Gini Rasio"]]
test5

     Tahun  Gini Rasio
34    2021     0.38400
69    2020     0.38100
104   2019     0.38000
139   2018     0.38900
174   2017     0.39261
209   2016     0.39700
244   2015     0.40800